* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas:"head head"
                        "side main"
                        "footer footer";
}

header,
aside,
main,
footer {
    padding: 10px;
    text-align: center;
}

header {
    background: blueviolet;
    grid-area: head;
   
}

aside {
    background: red;
    grid-area: side;

}

footer {
    background: grey;
    grid-area: footer;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.navbar-item {
    margin: 0 10px;
}

.navbar-item a {
    text-decoration: none;
    color: honeydew;

}

.navbar-item a:hover,
.navbar-item a:active {
    color: hotpink;

}

#copy {
    text-align: center;
    float: left;
}