*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: sans-serif;
    font-size: 10px;
}


img {
    width: 100%;
    margin: 50px 0;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg,#000000,#000000, #000000, #000000, #0d0d0d, #1a1a1a, #333333, #4d4d4d, #666666, #8c8c8c, #b3b3b3, #d9d9d9, white );
    background-size: 400% 400%;
    animation: change 10s ease-in-out;
    animation-iteration-count: infinite;
    
}

.blog-post {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    border-radius: .8rem;
    

}

.blog-post-img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translate(-8rem);

}

.blog-post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.blog-post-img::before{
    /* content: ; */
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    background: linear-gradient(to right, rgba(247, 151, 49, 0.8),
                                            rgba(238, 169, 108, 0.9));
    box-shadow: .5rem .5rem 3rem 1px rgba(227, 171, 122, 0.9); 
    border-radius: .8rem;                                       

}

.blog-post-date span {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size:  1.6rm;
    font-weight: 600;
    margin: .5rem 0;

}

.blog-post-title {
    font-size:  2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: sandybrown;

}

.blog-post-text {
    font-size: 1.4rem;
    color: slateblue;
    margin-bottom: 3rem;
}

.blog-post-go {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: whitesmoke;
background-image: linear-gradient(to right, rgb(50, 50, 50) 0% #ff9900 100%);
border-radius: 1rem;
text-decoration: none;

}

.blog-post {
    background-image: linear-gradient(to right,#010000 0%,  whitesmoke  100%);

}

@media screen and (max-width: 1000px){
    .blog-post {
            max-width: 80rem;
    }
    .blog-post-img{
        min-width: 30rem;
        max-width: 30rem;

    }
}

@media screen and (max-width: 860px){
    .blog-post {
            max-width: 70rem;
    }
}


@media screen and (max-width: 768px){
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
}

.blog-post-img{
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8);

    }
}




