
*, *::before, *::after {
    box-sizing: border-box;
    margin: 1;
    padding: 0; 
}

:root {
     --background: rgb(255, 140, 0.3); 
}

body {
    background-image: url(contact-bg.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: ;
    
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
}

.logo {

}
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: " ";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 120ms ease-in-out;
}

nav a:hover {
    color: pink;
    
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: "";
    }
    
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .logo {
        grid-column:  2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: " ";
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: 0em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;

    }

nav a:hover ::before {
    transform:  scale(1, 1);
}

}
/* navbar finish*/

.message {
    width: 800px;
    margin: 5% auto;
    display: flex;
}

.form-area{
    display: flex;
    background: rgb(0, 0, 0, 0.8);
    border-radius: ;
    padding: 2em;
}

.message-area {
    display: flex;
    flex-direction: column;
    order: 2;
}
/*not responsive! ffs want it to go under email on phone or small tablet*/
.message-area > textarea { 
    flex: 1;
    min-width: 18em;
    background: transparent;
    color: whitesmoke;
    padding: 15px;
    flex-wrap: wrap;
}

.add-details {
    flex: 1;
    order: 1;
    margin-right: 2em;
}

.add-details input {
    width: 100%;
    background: transparent;
    color: whitesmoke;
    border-radius:  40px;

}

.add-details input,
.add-details button {
    padding: 1em;
    margin-bottom: 1em;
}

.add-details button {
    background: rgb(255, 119, 0);
    color: #eeeeee;
    border: 1;
    padding: 15px 50px;
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 40px;
}

label {
    color: whitesmoke;
    text-transform: uppercase;
    line-height: 40px;
    font-family: ;
}

