* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;font-family: sans-serif;

}

.skiller-section {
    background-color: rgb(0, 0, 0);

}

.skill-heading {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1rem;
    position: relative;

}

.skill-heading:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 4px;
    width: 100px;
    background-color: rgb(255, 111, 0);

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:  center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 0;
    font-size: 1.2rem;

}

.skill-box {
    padding: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

}

.skill-title:after{
    content: " ";
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: rgb(255, 119, 0);
    transition: .5s;
}

.skill-title:before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: rgb(255, 119, 0);
    transition: .5s;
    
}

.skill-image {
    width: 90px;
    height: 90px;
    position: relative;
    background-color: rgb(255, 255, 255); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;

}

.language-icon { 
    width: 50px;

}

.skill-title  h3{
    color: rgb(255, 255, 255);
    margin: 5rem;
    z-index: 2;

}

@media screen and (max-width:700px){
.container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
    }
}
