.skill-section {
    font-family:  sans-serif;
    list-style: none;

}

.skills {
    width: 200px;
    margin: 50px auto;
    
    color: rgb(255, 0, 255);

}

.skills li {
    margin: 20px auto;
}

.bar {
    background-color: rgb(154, 154, 154);
    display: block;
    height: 6px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;   

}

.bar span {
    height: 2px;
    float: left;
    background: rgb(238, 161, 161);

}
 .html {
     width: 80%;
    animation: html 2s;
 }

 .css {
     width: 80%;
     animation: css 2s;

 }

 .javascript{
     width:55%;
     animation: javascript 2s;

 }

 .ruby {
    width: 5%;
    animation: ruby 2s;

 }

 @keyframes html {
     0%{
         width: 0%;
     }
     100%{
         width: 80%;
     }
 }

 @keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

@keyframes ruby {
    0%{
        width: 0%;
    }
    100%{
        width: 5%;
    }
}