

.second-page {
    font-family: sans-serif;
    background-color: rgb(213, 208, 208);
    margin: 0;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas:"head head"
                        "side main"
                        "footer footer";
}

header,
aside,
main,
footer {
    padding: 10px;
    text-align: center;
}

header {
    background: rgb(255, 119, 0); 
    grid-area: head;
   
}

aside {
    background: rgba(77, 77, 77, 0.05);
    grid-area: side;
   min-height: 180vh;

}

aside header {
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

aside ul a {
    display: block;
    
    height: 100%;
    width: 100%;
    line-height: 65px;
    box-shadow: border-box;
    border-bottom: 1px solid rgba(255, 119, 0, 0.303);
    transition: .4s;
}


.second-page-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;

}

ul li:hover a{
    padding-left: 50px;

}






